{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            /*background-color: #DEF0F2;*/
        }

        .js-menu-item-wrapper {
            box-shadow: 0 -1px 5px 0;
        }

        .js-menu-item {
            margin-bottom: 0 !important;
        }

        .js-item-card-title {
            text-align: center;
        }

        .blue {
            background-color: #DEF0F2;
        }

        .green {
            background-color: #CCDEC6;
        }

        .brown {
            background-color: #9C9E90;
        }

        .red {
            background-color: #E2B699;
        }

        .orange {
            background-color: #FBE6C7;
        }

        .btn-download {
            margin-bottom: .5rem;
        }
    </style>
{% endblock %}

{% import _self as macros %}

{% macro addNewTransport(transport) %}
<div class="js-item-card-title">
    <h4>{{ transport.description }}</h4>
    <h5>{{ transport.category }}</h5>
</div>
<div class="card card-block js-item-card" style="display:none;" data-id="{{ transport.id }}">
    <h6 style="text-align: center;">{{ transport.meansOfTransport | capitalize }}</h6>
    From: {{ transport.startsAt | date('D j-n  G:i') }}<br>
    To: {{ transport.endsAt | date('D j-n  G:i') }}<br><br>
    {{ transport.costs }} ({{ transport.paymentStatus }})<br><br>
    {% if transport.documentPath1 %}
        <button class="col-sm-12 btn btn-secondary js-btn-download"
                data-hash="{{ transport.documentPath1 }}"
                type="button">
            {{ transport.documentDescription1 }}
        </button>
    {% endif %}
    {% if transport.documentPath2 %}
        <button class="col-sm-12 btn btn-secondary js-btn-download"
                data-hash="{{ transport.documentPath2 }}"
                type="button">
            {{ transport.documentDescription2 }}
        </button>
    {% endif %}
    {% if transport.documentPath3 %}
        <button class="col-sm-12 btn btn-secondary js-btn-download"
                data-hash="{{ transport.documentPath3 }}"
                type="button">
            {{ transport.documentDescription3 }}
        </button>
    {% endif %}
</div>
<hr>
{% endmacro %}

{% macro addNewHotel() %}

{% endmacro %}

{% macro addNewAttraction() %}

{% endmacro %}

{% macro addNewPrepayment() %}

{% endmacro %}

{% macro addNewDocument() %}

{% endmacro %}

{% block body %}
    <div class="js-menu">
        <div class="js-menu-item-wrapper blue">
            <h2 class="display-4 js-menu-item">documents</h2>
            <div class="card-block" style="display:none;">
                <p class="lead js-form-menu-item">add new document</p>
                <div data-url="{{ path('document') }}" class="js-form-item" style="display:none;">
                    {{ form(forms.document) }}
                </div>
                <p class="lead js-form-menu-item">add new prepayment</p>
                <div data-url="{{ path('prepayment') }}" class="js-form-item" style="display:none;">
                    {{ form(forms.prepayment) }}
                </div>
                <a class="col-sm-12 btn btn-secondary btn-download" href="#" role="button">Link</a>
                <a class="col-sm-12 btn btn-secondary btn-download" href="#" role="button">Link</a>
                <a class="col-sm-12 btn btn-secondary btn-download" href="#" role="button">Link</a>
            </div>
        </div>
        <div class="js-menu-item-wrapper green">
            <h2 class="display-4 js-menu-item">transport</h2>
            <div style="display:none;">
                <p class="col-1 lead js-form-menu-item">add</p>
                <div class="js-item card-block">
                    <div class="card-block" data-entity="Transport">
                        <div data-url="{{ path('transport') }}" class="js-form-item" style="display:none;">
                            {{ form(forms.transport) }}
                        </div>
                        {% for transport in transports %}
                            {{ macros.addNewTransport(transport) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="js-menu-item-wrapper brown">
            <h2 class="display-4 js-menu-item">hotels</h2>
            <div class="js-item card-block" style="display:none;">
                <div class="card-block">
                    <p class="lead js-form-menu-item">add new</p>
                    <div data-url="{{ path('hotel') }}" class="js-form-item" style="display:none;">
                        {{ form(forms.hotel) }}
                    </div>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        <div class="js-menu-item-wrapper red">
            <h2 class="display-4 js-menu-item">attractions</h2>
            <div class="js-item card-block" style="display:none;">
                <div class="card-block">
                    <p class="lead js-form-menu-item">add new</p>
                    <div data-url="{{ path('attraction') }}" class="js-form-item" style="display:none;">
                        {{ form(forms.attraction) }}
                    </div>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        <div class="js-menu-item-wrapper orange">
            <h2 class="display-4 js-menu-item">itinerary</h2>
            <div class="js-item card-block">
                <div class="card-block">
                    <p id="refresh-itinerary" class="lead" style="display:none;">refresh page for updated itinerary</p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var EuropeTravelsApp = {
            initialize: function ($wrapper) {
                this.$wrapper = $wrapper;

                this.$wrapper.find('.js-menu-item').on(
                    'click',
                    this.handleMenuItemClick
                );

                this.$wrapper.find('.js-form-menu-item').on(
                    'click',
                    this.handleFormMenuItemClick
                );

                this.$wrapper.find('form').on(
                    'submit',
                    this.handleFormSubmit
                );

                this.$wrapper.find('.js-item-card-title').on(
                    'click',
                    this.handleCardTitleClick
                );

                this.$wrapper.find('.js-btn-download').on(
                    'click',
                    this.handleButtonDownload
                )
            },

            handleMenuItemClick: function () {
                $(this).next('div').slideToggle();
                $(this).parent().siblings().children().next().slideUp();
            },

            handleFormMenuItemClick: function () {
                $(this).next().find('.js-form-item').slideToggle();
            },

            handleFormSubmit: function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).closest('div').data('url'),
                    data: new FormData($(this)[0]),
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {

                        var data = {
                            'form': $(this).serializeArray(),
                            'data': response
                        };

                        addNewApp.handleFormSuccess(data)
                    }
                })
            },

            handleCardTitleClick: function() {
                $(this).next().slideToggle();
            },

            handleButtonDownload: function () {
                var $parent = $(this).closest('div');
                $.ajax({
                    url: '/check/' + $(this).data('description') + '/' + $parent.closest('div').data('entity') + '/' + $parent.data('id') + '/hash/' + $(this).data('hash'),
                    method: 'GET',
                    success: function (document) {

                    }
                })
            }

        };

        var addNewApp = {

            handleFormSuccess: function(data) {
                switch (data.data.form) {
                    case 'transport':
                        this.transport(data);
                        break;
                    case 'hotel':
                        this.hotel(data);
                        break;
                    case 'attraction':
                        this.attraction(data);
                        break;
                    case 'prepayment':
                        this.prepayment(data);
                        break;
                    case 'document':
                        this.document(data);
                        break;
                }
            },

            transport: function (data) {
                console.log(data);
            },

            hotel: function (data) {

            },

            attraction: function (data) {

            },

            prepayment: function (data) {

            },

            document: function (data) {

            }
        };

        $(document).ready(function() {
            var $menu = $('.js-menu');
            EuropeTravelsApp.initialize($menu);
        });
    </script>
{% endblock %}