{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}

{% import ':macro:macro.html.twig' as macros %}

{% block body %}
    <div class="js-menu">


        <div class="js-menu-item-wrapper blue">
            <h2 class="display-4 js-menu-item">documents</h2>
            <div style="display:none;">
                <p class="col-1 lead js-form-menu-item">add</p>
                <div class="js-item card-block">
                    <div data-url="{{ path('document') }}" class="js-form-item" style="display:none;">
                        {% include ':forms:document.html.twig' %}
                    </div>
                    <div class="js-document-list-wrapper">
                        {% for document in documents %}
                            {{ macros.document(document) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="js-menu-item-wrapper green">
            <h2 class="display-4 js-menu-item">payments</h2>
            <div  style="display:none;">
                <p class="col-1 lead js-form-menu-item">add</p>
                <div class="js-item card-block">
                    <div data-url="{{ path('new', {'_object': 'Payment'}) }}" class="js-form-item" style="display:none;">
                        {% include ':forms:payment.html.twig' %}
                    </div>
                    <div class="js-payment-status-wrapper">
                        <div class="btn-group btn-group-lg js-payment-status-buttons-wrapper" role="group">
                            <button type="button" class="btn btn-secondary col-sm-4">Base</button>
                            <button type="button" class="btn btn-secondary col-sm-4">IDR</button>
                            <button type="button" class="btn btn-secondary col-sm-4">EUR</button>
                        </div>
                        <div class="js-payment-status-list-wrapper">
                            {% for paymentBlock in paymentStatus %}
                                <div class="card">
                                    <p style="text-align: center; font-weight: bolder;">{{ paymentBlock['title'] }}</p>
                                </div>
                                <table class="col-12" border="1">
                                    <tbody>
                                    {% for payment in paymentBlock['PaymentStatus'] %}
                                        {{ macros.paymentStatusList(payment) }}
                                    {% endfor %}
                                    <tr>
                                        <td><b><i>total:</i></b></td>
                                        <td class="js-payment-status-total"
                                            data-total-idr="IDR {{ paymentBlock['total']['IDR'] }}"
                                            data-total-eur="€ {{ paymentBlock['total']['EUR'] }}"
                                        >
                                            IDR {{ paymentBlock['total']['IDR'] }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="js-menu-item-wrapper brown">
            <h2 class="display-4 js-menu-item">budget</h2>
            <div  style="display:none;">
                <div class="js-item">
                    <div class="js-menu-item-wrapper">
                        <h2 class="display-4 js-menu-item">converter</h2>
                        <div class="card-block">

                            <div class="js-converter-results-wrapper-wrapper">
                                {{ macros.budget(budget.budget, variables) }}
                            </div>

                        </div>
                    </div>

                    <div class="js-menu-item-wrapper">
                        <h2 class="display-4 js-menu-item">history</h2>
                        <div class="card-block js-budget-history-wrapper" style="display:none;">

                            {% for history in budget.history %}
                                {{ macros.budgetHistory(history) }}
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="js-menu-item-wrapper red">
            <h2 class="display-4 js-menu-item">collection</h2>
            <div style="display:none;">


                <div class="js-menu-item-wrapper">
                    <h2 class="display-4 js-menu-item">transport</h2>
                    <div style="display:none;">
                        <p class="col-1 lead js-form-menu-item">add</p>
                        <div class="js-item card-block">
                            <div data-url="{{ path('new', {'_object': 'Transport'}) }}" class="js-form-item" style="display:none;">
                                {% include ':forms:transport.html.twig' %}
                            </div>
                            <div class="js-transport-wrapper">
                                {% for transport in collection.transports %}
                                    {{ macros.transport(transport, 'Collection') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="js-menu-item-wrapper">
                    <h2 class="display-4 js-menu-item">hotels</h2>
                    <div style="display:none;">
                        <p class="col-1 lead js-form-menu-item">add</p>
                        <div class="js-item card-block">
                            <div data-url="{{ path('new', {'_object': 'Hotel'}) }}" class="js-form-item" style="display:none;">
                                {% include ':forms:hotel.html.twig' %}
                            </div>
                            <div class="js-hotel-wrapper">
                                {% for hotel in collection.hotels %}
                                    {{ macros.hotel(hotel, 'Collection') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="js-menu-item-wrapper">
                    <h2 class="display-4 js-menu-item">attractions</h2>
                    <div style="display:none;">
                        <p class="col-1 lead js-form-menu-item">add</p>
                        <div class="js-item card-block">
                            <div data-url="{{ path('new', {'_object': 'Attraction'}) }}" class="js-form-item" style="display:none;">
                                {% include ':forms:attraction.html.twig' %}
                            </div>
                            <div class="js-attraction-wrapper">
                                {% for attraction in collection.attractions %}
                                    {{ macros.attraction(attraction, 'Collection') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="js-menu-item-wrapper orange">
            <h2 class="display-4 js-menu-item">itinerary</h2>
            <div class="js-item js-itinerary-wrapper card-block">
                {% for item in itinerary if "now" | date('Y-m-d') <= item.startsAt | date('Y-m-d') %}
                    {{ macros.itinerary(item) }}
                {% endfor %}
                <div class="card card-block">
                    <h2 style="text-align: center;" class="display-4">Past</h2>
                </div>
                {% for item in itinerary if "now" | date('Y-m-d') > item.startsAt | date('Y-m-d') %}
                    {{ macros.itinerary(item) }}
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            var variables = {
                'changes': {
                    'paymentStatusList': false,
                    'itinerary': false,
                    'documentList': false,
                    'budgetHistory': false
                },
                'rates': {
                    'idr': {
                        'idr': 1,
                        'eur': {{ fixer.IDR.EUR }},
                        'gbp': {{ fixer.IDR.GBP }},
                        'czk': {{ fixer.IDR.CZK }}
                    },
                    'eur': {
                        'idr': {{ fixer.EUR.IDR }},
                        'eur': 1,
                        'gbp': {{ fixer.EUR.GBP }},
                        'czk': {{ fixer.EUR.CZK }}
                    },
                    'gbp': {
                        'idr': {{ fixer.GBP.IDR }},
                        'eur': {{ fixer.GBP.EUR }},
                        'gbp': 1,
                        'czk': {{ fixer.GBP.CZK }}
                    },
                    'czk': {
                        'idr': {{ fixer.CZK.IDR }},
                        'eur': {{ fixer.CZK.EUR }},
                        'gbp': {{ fixer.CZK.GBP }},
                        'czk': 1
                    }
                }
            };
        </script>
        <script src="{{ asset('app.js') }}"></script>
    {% endblock %}