{% set objForm = forms.transport %}
{{ form_start(objForm) }}
{{ form_row(objForm.category) }}
{{ form_row(objForm.meansOfTransport) }}
{{ form_row(objForm.description) }}
{{ form_row(objForm.address) }}
{{ form_row(objForm.ininerary) }}
{{ form_row(objForm.paymentStatus) }}
<div class="js-document-wrapper"
     data-prototype="{{ macros.embeddedDocument(objForm.documents.vars.prototype) | e('html_attr') }}"
     data-index="{{ objForm.documents | length }}"
>
    {% for documentForm in objForm.documents %}
        {{ macros.embeddedDocument(documentForm) }}
    {% endfor %}
    <a href="#" class="js-picture-add white-text">
        <i class="tiny material-icons">library_add</i>
        Add another document
    </a>
</div>
{{ form_widget(objForm.documents) }}
{{ form_widget(objForm._token) }}
{{ form_end(objForm, {'render_rest': false})) }}