{% macro transport(transport, parent) %}{% import _self as macros %}
    <div class="js-item-card-title">
        <h4>{{ transport.description }}</h4>
        <h5>{{ transport.category }}</h5>
    </div>
    <div class="card card-block js-item-card" style="display:none;">
        <h6 style="text-align: center;">{{ transport.meansOfTransport | capitalize }}</h6>
        <h6 style="text-align: center;"><a target="_blank" href="https://maps.google.com/?q={{ transport.address }}">{{ transport.address }}</a></h6>
        {{ macros.itineraryPiece(transport.itinerary) }}
        {{ macros.paymentStatus(transport.paymentStatus, parent) }}<br>
        {{ macros.objectDocuments(transport, 'Transport') }}
    </div>
    <hr>
{% endmacro %}

{% macro hotel(hotel, parent) %}{% import _self as macros %}
    <div class="js-item-card-title">
        <h4>{{ hotel.city }}</h4>
        <h5>{{ hotel.name }}</h5>
    </div>
    <div class="card card-block js-item-card" style="display:none;">
        <h6 style="text-align: center;"><a target="_blank" href="https://maps.google.com/?q={{ hotel.address }}">{{ hotel.address }}</a></h6>
        {{ macros.itineraryPiece(hotel.itinerary) }}
        <a target="_blank" href="{{ hotel.link }}">website</a><br>
        {{ macros.paymentStatus(hotel.paymentStatus, parent) }}<br>
        {{ macros.objectDocuments(hotel, 'Hotel') }}
    </div>
    <hr>
{% endmacro %}

{% macro attraction(attraction, parent) %}{% import _self as macros %}
    <div class="js-item-card-title">
        <h4>{{ attraction.city }}</h4>
        <h5>{{ attraction.description }}</h5>
    </div>
    <div class="card card-block js-item-card" style="display:none;">
        <h6 style="text-align: center;"><a target="_blank" href="https://maps.google.com/?q={{ attraction.address }}">{{ attraction.address }}</a></h6>
        {{ macros.itineraryPiece(attraction.itinerary) }}
        <a target="_blank" href="{{ attraction.link }}">website</a><br>
        {{ macros.paymentStatus(attraction.paymentStatus, parent) }}<br>
        {{ macros.objectDocuments(attraction, 'Attraction') }}
    </div>
    <hr>
{% endmacro %}

{% macro payment(payment) %}{% import _self as macros %}
    <div class="js-item-card-title">
        <h4>{{ payment.description }}</h4>
    </div>
    <div class="card card-block js-item-card" style="display:none;">
        {{ macros.paymentStatus(payment.paymentStatus, 'Payment') }}<br>
        {{ macros.objectDocuments(payment, 'Payment') }}
    </div>
    <hr>
{% endmacro %}

{% macro itinerary(object) %}{% import _self as macros %}
    <div class="js-item-title">
        <h3 class="display-4">{{ object.entity }}</h3>
        <h4>{{ object.startsAt | date('D j-n  G:i') }}</h4>
        <h5>{{ object.endsAt | date('D j-n  G:i') }}</h5>
    </div>
    {% if object.entity == 'Transport' %}
        {{ macros.transport(object.transport, 'Itinerary') }}
    {% elseif object.entity == 'Hotel' %}
        {{ macros.hotel(object.hotel, 'Itinerary') }}
    {% elseif object.entity == 'Attraction' %}
        {{ macros.attraction(object.attraction, 'Itinerary') }}
    {% endif %}
{% endmacro %}

{% macro paymentStatusList(payment) %}{% import _self as macros %}
    <tr class="js-payment-status-row">
        <td width="60%">
            {% if payment.entity == 'Transport' %}
                {{ payment.transport.description }}
            {% elseif payment.entity == 'Hotel' %}
                {{ payment.hotel.name }}
            {% elseif payment.entity == 'Attraction' %}
                {{ payment.attraction.description }}
            {% elseif payment.entity == 'Payment' %}
                {{ payment.payment.description }}
            {% endif %}
        </td>
        <td class="js-payment-status-list-item"
            width="40%"
            data-costs-base="{{ payment.currency | currency }} {{ payment.costs }}"
            data-costs-idr="IDR {{ payment.costsIDR }}"
            data-costs-eur="€ {{ payment.costsEUR }}"
        >
            {{ payment.currency | currency }} {{ payment.costs }}
        </td>
    </tr>
    <tr style="display: none;">
        <td colspan="2">
            <h3 class="display-4" style="text-align: center;">{{ payment.entity }}</h3>
            {% if payment.entity == 'Transport' %}
                {{ macros.transport(payment.transport, 'PaymentStatusList') }}
            {% elseif payment.entity == 'Hotel' %}
                {{ macros.hotel(payment.hotel, 'PaymentStatusList') }}
            {% elseif payment.entity == 'Attraction' %}
                {{ macros.attraction(payment.attraction, 'PaymentStatusList') }}
            {% elseif payment.entity == 'Payment' %}
                {{ macros.payment(payment.payment, 'PaymentStatusList') }}
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro document(document) %}

    {% if document.entity == 'Document' %}
        {% set objectId = document.id %}
    {% elseif document.entity == 'Transport' %}
        {% set objectId = document.transport.id %}
    {% elseif document.entity == 'Hotel' %}
        {% set objectId = document.hotel.id %}
    {% elseif document.entity == 'Attraction' %}
        {% set objectId = document.attraction.id %}
    {% elseif document.entity == 'Payment' %}
        {% set objectId = document.payment.id %}
    {% endif %}

    <a target="_blank"
       class="col-sm-12 btn btn-secondary btn-lg"
       role="button"
       href="{{ documentLink(document.description, document.entity, objectId, document.documentPath) }}"
    >
        {% if document.entity == 'Transport' %}
            {{ document.transport.description }}
        {% elseif document.entity == 'Hotel' %}
            {{ document.hotel.name }}
        {% elseif document.entity == 'Attraction' %}
            {{ document.attraction.description }}
        {% elseif document.entity == 'Payment' %}
            {{ document.payment.description }}
        {% else %}
            Document
        {% endif %}
        - {{ document.description }}
    </a>
    <br>
{% endmacro %}

{% macro formDocument(documentForm) %}
    <div class="js-document-item card card-block">
        <a href="#" class="js-remove-document">delete</a>
        {{ form_row(documentForm.description) }}
        <div class="file-field input-field">
            <div class="btn white orange accent-2">
                {{ form_widget(documentForm.document) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro itineraryPiece(itinerary) %}
    From: {{ itinerary.startsAt | date('D j-n  G:i') }}<br>
    To: {{ itinerary.endsAt | date('D j-n  G:i') }}<br><br>
{% endmacro %}

{% macro paymentStatus(object, parent) %}
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button"
                class="btn btn-secondary js-costs"
                data-base-currency="{{ object.currency }}"
                data-show-currency="{{ object.currency }}"
                data-base-costs="{{ object.costs }}"
        >
            {{ object.currency | currency }} {{ object.costs }}
        </button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop{{ parent }}{{ object.id }}" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ object.paymentStatus }}
            </button>
            <div class="dropdown-menu js-payment-status" data-id="{{ object.id }}" aria-labelledby="btnGroupDrop{{ parent }}{{ object .id }}">
                <a class="dropdown-item js-payment-status-item" href="#">Booked CC 4086</a>
                <a class="dropdown-item js-payment-status-item" href="#">Booked CC 7501</a>
                <a class="dropdown-item js-payment-status-item" href="#">Booked CC 4100</a>
                <a class="dropdown-item js-payment-status-item" href="#">Booked CC 5584</a>
                <a class="dropdown-item js-payment-status-item" href="#">Booked PPCC</a>
                <a class="dropdown-item js-payment-status-item" href="#">Charged CC 4086</a>
                <a class="dropdown-item js-payment-status-item" href="#">Charged CC 7501</a>
                <a class="dropdown-item js-payment-status-item" href="#">Charged CC 4100</a>
                <a class="dropdown-item js-payment-status-item" href="#">Charged CC 5584</a>
                <a class="dropdown-item js-payment-status-item" href="#">Charged PPCC</a>
                <a class="dropdown-item js-payment-status-item" href="#">Completed</a>
                <a class="dropdown-item js-payment-status-item" href="#">To be paid cash</a>
                <a class="dropdown-item js-payment-status-item" href="#">To be paid CC</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro objectDocuments(object, entity) %}

    {% for document in object.documents %}
        <a target="_blank"
           class="col-sm-12 btn btn-secondary"
           role="button"
           href="{{ documentLink(document.description, entity, object.id, document.documentPath) }}">
            {{ document.description }}
        </a>
        <br>
    {% endfor %}

{% endmacro %}

{% macro budget(budget, variables) %}
    <div class="js-converter-results-wrapper"
         data-budget="{{ budget['amountInt'] }}"
         data-budget-today="{{ budget['amountTodayInt'] }}"
         data-days-left="{{ budget['daysLeft'] }}"
    >
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle js-converter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ variables.variables.converterCurrency | currency }}
                </button>
                <div class="dropdown-menu js-converter-currency">
                    <a class="dropdown-item" data-value="EUR" href="#">€</a>
                    <a class="dropdown-item" data-value="IDR" href="#">IDR</a>
                    <a class="dropdown-item" data-value="GBP" href="#">£</a>
                    <a class="dropdown-item" data-value="CZK" href="#">CZK</a>
                </div>
            </div>
            <input type="text" class="form-control js-budget-converter" data-currency="{{ variables.variables.converterCurrency }}" aria-label="Text input with dropdown button">
        </div>
        <table class="col-12">
            <tr>
                <th colspan="2">Amount</th>
            </tr>
            <tr>
                <td width="50%" class="js-converter-eur">€ 0</td>
                <td class="js-converter-idr">IDR 0</td>
            </tr>
            <tr>
                <td class="js-converter-gbp">£ 0</td>
                <td class="js-converter-czk">CZK 0</td>
            </tr>
            <tr>
                <th colspan="2">Budget left</th>
            </tr>
            <tr>
                <td class="js-converter-budget-eur">€ {{ budget['amount']['EUR'] }}</td>
                <td class="js-converter-budget-idr">IDR {{ budget['amount']['IDR'] }}</td>
            </tr>
            <tr>
                <td class="js-converter-budget-gbp">£ {{ budget['amount']['GBP'] }}</td>
                <td class="js-converter-budget-czk">CZK {{ budget['amount']['CZK'] }}</td>
            </tr>
            <tr>
                <th colspan="2">Budget today</th>
            </tr>
            <tr>
                <td class="js-converter-today-eur">€ {{ budget['amountToday']['EUR'] }}</td>
                <td class="js-converter-today-idr">IDR {{ budget['amountToday']['IDR'] }}</td>
            </tr>
            <tr>
                <td class="js-converter-today-gbp">£ {{ budget['amountToday']['GBP'] }}</td>
                <td class="js-converter-today-czk">CZK {{ budget['amountToday']['CZK'] }}</td>
            </tr>
            <tr>
                <th colspan="2">Budget tomorrow</th>
            </tr>
            <tr>
                <td class="js-converter-tomorrow-eur">€ {{ budget['amountTomorrow']['EUR'] }}</td>
                <td class="js-converter-tomorrow-idr">IDR {{ budget['amountTomorrow']['IDR'] }}</td>
            </tr>
            <tr>
                <td class="js-converter-tomorrow-gbp">£ {{ budget['amountTomorrow']['GBP'] }}</td>
                <td class="js-converter-tomorrow-czk">CZK {{ budget['amountTomorrow']['CZK'] }}</td>
            </tr>
        </table>
        <br/>
        <div class="js-converter-description-wrapper" style="display: none;">
            <input class="form-control js-converter-description" placeholder="description">
            <button type="button" class="col-12 btn btn-secondary js-budget-subtract">submit</button>
        </div>
        <button type="button" class="col-12 btn btn-secondary js-converter-submit">subtract amount from budget</button>
    </div>
{% endmacro %}

{% macro budgetHistory(history) %}
    <table class="table">
        <thead>
        <tr>
            <th width="50%">description</th>
            <th>costs</th>
        </tr>
        <tr>
            <th>{{ history.createdAt | date('Y-m-d') }}</th>
            <th>€ {{ 0 - history.spent }}</th>
        </tr>
        </thead>
        <tbody>
        {% for costs in history.budgetSubtraction %}
            <tr>
                <td>{{ costs.description }}</td>
                <td>€ {{ 0 - costs.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/>
{% endmacro %}

{% macro antshares(antshares) %}
    <table class="table">
        <tbody>
        <tr>
            <td>{{ antshares.anc }} ANC</td>
            <td>x</td>
            <td>{{ antshares.ANSBTC }} BTC</td>
        </tr>
        <tr>
            <td>{{ antshares.btc }} BTC</td>
            <td>x</td>
            <td>€ {{ antshares.BTCEUR }}</td>
        </tr>
        <tr>
            <td>result</td>
            <td></td>
            <td>€ {{ antshares.eur | number_format(2, ',', '.') }}</td>
        </tr>
        </tbody>
    </table>
{% endmacro %}